@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import "partials/resets.scss";
@import "partials/variables.scss";
@mixin clearfix {
  &:after {
  content: "";
  display: table;
  clear: both;
}
}

@mixin vertical {
  &:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
}

html{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: $light-gray;
}

a{
  text-decoration: none;
}
header{
  background-image: url("../img/logo.svg");
  background-position: 7px 12px;
  background-size: 13px 15.9px;
  background-repeat: no-repeat;
  background-color: $light-gray;
  position: fixed;
  height: 40px;
  width: 100%;
  p{
    text-align: center;
    color: $white-like;
    padding: 13px 0;
    font-size: 14px;
    span{
      font-weight: bold;
      color: $aqua;
    }
  }
}
.settings{
  background-image: url("../img/settings.svg");
  width: 16px;
  height: 16px;
  position: absolute;
  right: 5px;
  top: 12px;
}
.content{
  padding-top:40px;
  padding-bottom: 30px;
}

.facebook, .twitter, .email{
  background-color: $white-like;
  @include clearfix;
  margin-bottom: 10px;
}

 .posts{
   min-height: 120px;
   padding: 8px;
   float: right;
   width: calc(100% - 41px);

 }

 .single-post:nth-child(even){
   padding: 8px;
   background-color: $light-gray;
 }
.time{
  color: $grey;
  font-size: 14px;
  margin: 8px 0;

}
 .post-icons{
   @include clearfix;
   margin-top: 16px;
 }
.post-left-icons{
  float: left;
}

.post-right-icons{
  float: right;
  padding-right: 6px;
}

.love, .comment{
  display: inline-block;

}

.love{
  background-image: url("../img/heart.svg");
  width: 25px;
  height: 25px;
}

.comment{
  background-image: url("../img/comment.svg");
  width: 25px;
  height: 25px;
  padding-left: 6px;
}

.delete{
  background-image: url("../img/icon.svg");
  width: 25px;
  height: 25px;
}
 .fb-post-icon{
   background-image: url("../img/fb-post-icon.svg");
   float: left;
   width: 25px;
   height: 25px;
   margin: 8px;
   float: left;
 }

 .twitter-post-icon{
   background-image: url("../img/twitter-post-icon.svg");
   float: left;
   width: 25px;
   height: 25px;
   margin: 8px;
   float: left;
 }

footer{
  border-top: 1px $white-like solid;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  background-color: $light-gray;
}
.twitter-icon{
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  margin: 5px;
  width: 30px;
  height: 30px;
  float: left;
}

.fb-icon{
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  float: left;
  margin: 5px;
}

.email-icon{
  background-image: url("../img/email.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  float: left;
  margin: 5px;


}
.footer-icons
{
  width: 120px;
  margin: 0 auto;
}
